.content-swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;
    flex: 1;
    width: 80vw;
    max-width: 650px;
    padding-top: 15px;
}

.content-swiper-container .swiper-pagination {
    top: 0;
    bottom: initial;
}

.swiper-pagination-bullet {
    border: 1px solid #71cfe2;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #71cfe2;
}
