{
  "presets": [
    "es2015",
    "react",
    "stage-1",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        "jsx-control-statements",
        "transform-decorators-legacy",
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": ["react"],
                "locals": ["module"]
              },
              {
                "transform": "react-transform-catch-errors",
                "imports": [
                  "react",
                  "redbox-react"
                ]
              },
            ],
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "jsx-control-statements",
        "transform-decorators-legacy"
      ]
    }
  }
}